.container {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  padding: 2rem;
  border-bottom: 2px solid rgb(61, 40, 40);
  background: rgb(29, 37, 35);
  margin-bottom: 50px;

  span:first-child {
    margin-left: 2rem;
    font-size: medium;
    font-weight: bold;
  }

  span:last-child {
    margin-right: 2rem;
    cursor: pointer;

    > span {
        margin-left: -5px;
        background: white;
        padding: 2px;
        border-radius: 60%;
        color: #000;
        font-weight: bold;
    }
  }
}
